.card{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}
.card__title{
    margin-top:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border-bottom:1px solid darkgray;;
}
.card__body{
    
    width: 70%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:50px;
}
.card__video{
    display: flex;
    justify-content: end;
    align-items: center;
}
.card__text{
    display: flex;
    width:60%;
    color:#777;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.card__filter:hover{
    cursor: pointer;
}
#card__filter--items{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 10px;
}
#card__filter--items input{
    margin-top:5px;
}
select{
    height:30px;
    border:none;
}
.card__text--small{
    font-size:10px;
}
@media only screen and (max-width: 992px) {
    .card__body{
        width: 90% !important;
        margin: 10px !important;
    }
    .card__text p{
        font-size:12px;
    }
    .card__text h6{
        font-size:16px;
    }
    .card__text{
        margin-left:10px;
    }
    .card__title {
        margin-top:3vh;
    }

}